@font-face {
    font-family: "neue-haas-grotesk-medium";
    src: url(../fonts/Neue-Haas-Grotesk/NHaasGroteskTXPro-65Md.ttf);
}
@font-face {
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
    src: url(../fonts/ITC-Avant-Garde-Gothic-PRO/ITC\ Avant\ Garde\ Gothic\ Pro-Book.otf);
}
@font-face {
    font-family: "ITC-Avant-Garde-Gothic-PRO-medium";
    src: url(../fonts/ITC-Avant-Garde-Gothic-PRO/ITC\ Avant\ Garde\ Gothic\ Pro-Medium.otf);
}
/* Global css */
.theme-btn{
    padding: 18px 90px;
    background: radial-gradient(at top left, #F8994F91 0%, #00000E00 100%);
    font-family: "neue-haas-grotesk-medium";
    border-radius: 12px;
    font-size: 20px;
    border-style: solid;
    border-color: #F8994F45;
    border-width: 0px 2px 2px 0px;
    box-shadow: 0px 0px 24px -10px rgba(248, 153, 79, 0.5);
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}
.theme-btn:hover{
    border-color: #F8994F;
    transform: translateY(-8px);
}
.theme-btn-2{
    padding: 18px 90px;
    background: radial-gradient(at top left, #7CC4F347 0%, #FFFFFF00 100%);
    font-family: "neue-haas-grotesk-medium";
    border-radius: 12px;
    font-size: 20px;
    border-style: solid;
    border-color: #7CC4F336;
    border-width: 0px 2px 2px 0px;
    box-shadow: 0px 0px 24px -10px rgba(124, 196, 243, 0.2);
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}
.theme-btn-2:hover{
    border-color: #7CC4F3;
    transform: translateY(-8px);
}
.section-heading{
    color: white;
    background: linear-gradient(to right, #A5A5A5, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px;
    font-family: "neue-haas-grotesk-medium";
}
.pill-heading{
    font-family: "ITC-Avant-Garde-Gothic-PRO-book", Sans-serif;
    color: #F8994F;
    font-size: 18px;
    font-weight: 300;
    fill: #F8994F;
    color: #F8994F;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F8994F57;
    border-radius: 2000px 2000px 2000px 2000px;
    box-shadow: 0px 0px 10px 0px rgba(248, 152.99999999999994, 79.00000000000004, 0.45);
    padding: 16px 30px 16px 30px;
    display: inline-block;
    line-height: 1;
}
.section-description{
    font-size: 18px;
    color: #F5F5F5DE;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book", Sans-serif;
}
@media (max-width:991px){
    .section-heading{
        font-size: 30px;
    }
    .section-description{
        font-size: 16px;
    }
    .pill-heading{
        font-size: 14px;
    }
    .theme-btn{
        font-size: 16px;
        padding: 15px 40px;
    }
    .theme-btn-2{
        font-size: 16px;
        padding: 15px 40px;
    }
}
/* Global css end*/
/* Hero Section */
.hero-section{
    position: relative;
}
.hero-section::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #050C21BF 0%, #00000E 100%);
}
.video-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container::before{
    content: "";
    display: block;
    position: absolute;
    mix-blend-mode: initial;
    opacity: 1;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #050C21BF 0%, #00000E 100%);
    z-index: 1;
}
.hero-bg-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header{
    padding: 30px 0 65px 0;
    position: relative;
    z-index: 2;
}
.logo{
    height: 80px;
}
.hero-title{
    position: relative;
    isolation: isolate;
}
.hero-title h1{
    color: white;
    background: linear-gradient(to right, #A5A5A5, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    text-align: center;
    font-family: "neue-haas-grotesk-medium";
}
.rechteck{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    z-index: -1;
}
.hero-section .container{
    position: relative;
    z-index: 2;
}
.hero-description{
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
}
.hero-description p{
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.65;
    
}

.logos-slider{
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
}
@media (min-width: 1400px) {
    .hero-section .container {
        max-width: 1140px;
    }
}
@media (max-width: 991px) {
    .hero-title h1{
        font-size: 40px;
    }
    .rechteck{
        width: 150px;
    }
    .logo{
        height: 60px;
    }
    .hero-description p{
        font-size: 16px;
    }
}
/* Hero Section End*/

/* reserve section */
.reserve-section{
    padding-top: 110px;
    padding-bottom: 110px;
    background: #00000E;
}
.reserve-section .section-heading{
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
}
.reserve-card{
    background: #00000E;
    min-height: 295px;
    border-color: #7CC4F326;
    border-radius: 20px;
    border-width: 1px;
    padding: 40px;
    border-style: solid;
    position: relative;
    isolation: isolate;
    color: white;
    transition: all .5s;
    height: 100%;
}
.reserve-card:hover{
    transform: translateY(-10px);
}
.reserve-card::before{
    content: "";
    display: block;
    position: absolute;
    mix-blend-mode: initial;
    opacity: 0.06;
    border-radius: 20px;
    transition: all .3s;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: transparent;
    background-image: radial-gradient(at top left, #7CC4F3 34%, #00000E 100%);
    z-index: -1;
}
.reserve-section .section-description{
    max-width: 680px;
    margin: 30px auto;
    margin-bottom: 40px;
}
.reserve-icon{
    width: 67px;
    aspect-ratio: 1;
    border-radius: 50px;
    background: #7CC4F31F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.reserve-icon svg,
.reserve-icon img{
    width: 50%;
    fill: #7CC4F3;
}
.reserve-card h4{
    font-size: 30px;
    font-family: "neue-haas-grotesk-medium";
}
.reserve-card p{
    color: #FFFFFFBA;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
}
.reserve-cards{
    margin-bottom: 50px;
}
@media (min-width: 1400px) {
    .reserve-section .container {
        max-width: 1140px;
    }
}
@media (max-width: 991px) {
    .reserve-card h4{
        font-size: 25px;
    }
}
/* reserve section end*/
/* skills section */
.skills-section{
    background: #00000E;
    padding: 100px 0;
    position: relative;
    isolation: isolate;
}
.skills-section::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 0.14;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(at bottom left, #7CC4F3 0%, #050C21 42%);
    z-index: -1;
    /* border-bottom: 1px solid #7CC4F32E; */
}
.skills-section .section-heading{
    max-width: 970px;
    margin: auto;
}
.skills-section .section-description{
    max-width: 900px;
    margin: 20px auto;
}
.skills-imgs{
    position: relative;
}
.skill-icons{
    width: 8%;
    position: absolute;
}
.skill-icon-m{
    top: 20%;
    left: 10%;
}
.skill-icon-ae{
    top: 45%;
    left: 25%;
    width: 9%;
}
.skill-icon-pr{
    top: 45%;
    right: 25%;
    width: 9%;
}
.skill-icon-ps{
    top: 20%;
    right: 10%;
}
.reel-container{
    background-image: url(../img/reel-container-back.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 60px 0;
    max-width: 1180px;
    margin: auto;
    border-radius: 0 0 30px 30px;
    padding-right: 30px;
}
.reel-video{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    width: 70%;
    margin: auto;
    display: block;
}
.reel-container .section-heading{
    font-size: 60px;
    margin-top: 20px;
}
.reel-container .section-description{
    font-size: 16px;
}
@media (max-width: 991px){
    .reel-container{
        padding: 30px;
    }
    .reel-video{
        width: 100%;
    }
    .reel-container .section-heading{
        font-size: 30px;
    }
}
/* skills section end*/
/* movment section */
.movement-section{
    background-color: #00000E;
    position: relative;
    isolation: isolate;
    padding: 110px 0;
}
.movement-section::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 0.12;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(at center center, #7CC4F3 0%, #00000E 100%);
    z-index: -1;
}
.movement-section .sub-heading{
    font-size: 30px;
    margin-top: 30px;
}
.movement-video-box-1{
    position: relative;
    isolation: isolate;
}
.movement-video-1{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid #FFFFFF29;
}
.movement-video-box-1::before{
    
    content: "";
    display: block;
    position: absolute;
    opacity: 0.12;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #FFFFFF29;
    background-color: #000000;
    z-index: 1;
}
.community-box{
    background-image: radial-gradient(at center center, #7CC4F338 0%, #00000E 100%);
    border-radius: 10px;
    min-height: 384px;
    position: relative;
    margin-left: -20px;
    padding-top: 240px;
    isolation: isolate;
    margin-bottom: 20px;
}
.community-box::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 1;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #07213100;
    background-image: url(../img/Community.png);
    background-position: center center;
    background-size: cover;
    z-index: -1;
}
.community-box .section-heading{
    font-size: 36px;
    text-align: center;
}
.community-box .section-description{
    font-size: 16px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.raw-project-box{
    background-image: url(../img/raaw-project-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}
.raw-project-box img{
    width: 60%;
}
.raw-project-box .section-heading{
    font-size: 25px;
    text-align: center;
}
.raw-project-box .section-description{
    font-size: 16px;
    text-align: center;
}
.minus-margin{
    margin-left: -20px;
}
.live-tutorial-box{
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    isolation: isolate;
}
.live-tutorial-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: -2;
}
.live-tutorial-box::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 0.7;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #00000E;
    z-index: -1;
}
.live-tutorial-box .section-heading{
    font-size: 34px;
    text-align: center;
}
.live-tutorial-box .section-description{
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1125px;
    }
}
@media (min-width: 1400px) {
    .movement-section .container {
        max-width: 1125px;
    }
}
@media (max-width: 991px) {
    .minus-margin{
        margin: 0;
    }
    .community-box{
        margin-left: 0;
        border: 1px solid #7CC4F3;
        min-height: 234px;
        padding-top: 150px;
        padding-bottom: 20px;
        border-radius: 20px;
        overflow: hidden;
    }
    .community-box .section-heading{
        font-size: 30px;
    }
    .community-box .section-description{
        width: 70%;
    }
    .community-box::before{
        background-position: top center;
        background-size: cover;
        z-index: -9;
    }
}
/* movment section end*/
/* personal style section */
.personal-style-section{
    padding: 110px 0;
    background-image: url(../img/backdark.png);
    background-position: center center;
    background-size: cover;
}
.formate-box h4{
    color: white;
    font-family: "neue-haas-grotesk-medium";
    font-size: 40px;
}
.formate-box p{
    color: #FFFFFFBA;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
    font-size: 18px;
}
.count-box{
    width: 60px;
    aspect-ratio: 1;
    background: #050C21;
    box-shadow: 0px 0px 42px 10px rgba(151.3, 151.3, 151.3, 0.33);
    border-radius: 12px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "ITC-Avant-Garde-Gothic-PRO-medium";
    font-size: 30px;
    z-index: 1;
    position: relative;
}
.line{
    width: 18px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.count-box.active{
    background: linear-gradient(161deg, #7CC4F3 0%, #00000E 94%);
    box-shadow: 0px 0px 42px 10px rgba(124, 196, 243, 0.3);
    margin-top: auto;
    margin-bottom: 15px;
}
.order-6 {
    order: 6 !important;
}
.order-7 {
    order: 7  !important;
}
.order-8 {
    order: 8 !important;
}
.order-9 {
    order: 9 !important;
}
@media (min-width: 992px) {
    .order-lg-6 {
        order: 6 !important;
    }
    .order-lg-7 {
        order: 7 !important;
    }
    .order-lg-8 {
        order: 8 !important;
    }
    .order-lg-9 {
        order: 9 !important;
    }
}
@media (min-width: 1400px) {
    .personal-style-section .container {
        max-width: 1250px;
    }
}
/* personal style section end*/
/* tabs section */
.tabs-section{
    padding: 110px 0;
    background-image: url(../img/backdark.png);
    background-position: center center;
    background-size: cover;
}
.custom-tabs{
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 20px;
    border-bottom: 0px;
}
.custom-tabs .nav-item{
    width: 100%;
}
.custom-tabs .nav-item .nav-link{
    width: 100%;
    padding: 15px 35px;
    color: white;
    background: #FFFFFF12;
    border: 1px solid #FFFFFF26;
    border-radius: 10px;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
}
.custom-tabs .nav-item .nav-link.active{
    width: 100%;
    padding: 15px 35px;
    color: white;
    background: linear-gradient(137deg, #B7E3FF99 -100%, #1D699B80 64%);
    border: 1px solid #7CC4F38F;
}
.tabs-video-container{
    border: 1px solid #FFFFFF1A;
    border-radius: 20px;
    display: flex;

}
.tabs-video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.custom-tab-content{
    margin-top: 30px;
}
.tabs-section-header{
    max-width: 75%;
    margin: auto;
}
.instruction-box{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #FFFFFF40;
    color: #FFFFFF8A;
    font-family: "ITC-Avant-Garde-Gothic-PRO-medium";
}
.instructions span{
    color: white;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
    font-size: 14px;
}
.video-name h4{
    color: white;
    font-family: "neue-haas-grotesk-medium";
    margin-bottom: 20px;
    font-size: 40px;
}
.points{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.points span{
    color: white;
    font-size: 14px;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
    letter-spacing: 1.5px;
}
@media (min-width: 1400px) {
    .tabs-section .container {
        max-width: 1250px;
    }
}
@media (max-width: 991px) {
    .custom-tabs{
        flex-wrap: wrap;
    }
    .custom-tabs .nav-item{
        margin-bottom: 20px;
    }
    .tabs-section-header{
        max-width: 100%;
    }
    .tabs-section-header .section-heading{
        margin-top: 20px;
    }
}
/* tabs section end*/
/* testimonial section */
.testimonial-section{
    background: #00000E;
    position: relative;
    isolation: isolate;
    padding: 110px 0;
}
.testimonial-section::before{
    content: "";
    display: block;
    position: absolute;
    opacity: 0.12;
    transition: all .3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(at center center, #7CC4F3 0%, #00000E 100%);
    z-index: -1;
}
.testimonial-header .section-heading{
    margin-top: 20px;
}
.testimonail-box{
    background-image: url(../img/CC-1.png);
    background-position: top center;
    background-size: cover;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid #7CC4F387;
    margin-bottom: 20px;
}
.user-profile-container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.user-profile-container .user-dp{
    width: 60px;
    aspect-ratio: 1;
}
.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-name h6{
    margin: 0;
    color: white;
    font-family: "ITC-Avant-Garde-Gothic-PRO-medium";
    font-size: 18px;
}
.user-name span{
    margin: 0;
    color: #FFFFFF70;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
}
.testimonial-text{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "ITC-Avant-Garde-Gothic-PRO-book";
}
@media (min-width: 1400px) {
    .testimonial-section .container {
        max-width: 1200px;
    }
}
@media (max-width: 991px) {
    .user-profile-container .user-dp{
        width: 55px;
    }
}
/* testimonial section end*/